.nav_item {
    font-size: 0.9em;
    font-weight: 500;
    margin: 0 0 0 2em;
    padding: 0.5em 1em;
    border-radius: 2em;
    border-width: 0;
    border: 0;
    text-decoration: none;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit;
    white-space: nowrap;
}

.highlight {
    background-color: var(--bg-color-grey-0);
    color: var(--color-grey-4);
    font-weight: 700;
    overflow: hidden;
}

.highlight:hover {
    background: var(--bg-color-gradient-0);
    color: var(--color-grey-4);
    -webkit-text-fill-color: unset;
}

.highlight:hover::after {
}

@media only screen and (max-width: 700px) {
    .nav_item:not(.highlight) {
        display: none;
    }
}